<div class="vertical_menu">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" href="#">지원목록</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">관심목록</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">히스토리</a>
      </li>
    </ul>
</div>
<div class="container devise_view">
    <hr/>
    <h2>지원관리</h2>
</div>