<div class="intro mb-5">
    <h2 class="d-flex justify-content-center align-items-center">Make Recruiting Easy, Efficient for Everyone.</h2><br>
    <!--<h2 class="d-flex justify-content-center align-items-center">지금 지원하십쇼</h2>-->
</div>

<footer class="d-flex justify-content-center">
    <p class="copyright">&copy; 2017 ECRUIT Team</p>
</footer>


    