<div class="vertical_menu">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" href="/recruit">채용공고</a>
      </li>
    </ul>
</div>
<div class="container devise_view">
    <hr/>
    <h2>지원서 편집</h2> <br><br>
    <%= form_for @app, url: create_application_path do |f|%>
        <div><h6>제목</h6></textarea><%= f.text_field :title, :class => "" %></div><br>
        <div><h6>질문</h6><%= f.text_area :question, :class => "" %></div><br>
        <div><%= f.submit '작성', class:"write btn btn-outline-success my-2 my-sm-0"%></div>
    <% end %>
        
</div>

<script>
  $(document).ready(function () {
            var url = window.location.href;
            // console.log(url);
            $("a.nav-link").each(function() {
                console.log(this.href);
                if(url == (this.href)){
                    $(this).addClass("nav_active");
                }
            })
        });
</script>