/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
a.logo:hover,
a.menu:hover {
    color: #5F04B4;
}
.active {
    color: #5F04B4 !important;
}
.login_menu {
    padding-right: 20px;
    text-align: right;
}
.login_menu a {
    color: black;
}
.login_menu a:hover {
    text-decoration: none;
}
.header {
    width: 100%;
}
.header_nav {
    width: 100%;
    justify-content: space-between;
}
.logo {
    margin-right: 5px;
    font-size: 40px;
    color: black;
}
.logo:hover {
    text-decoration: none;
}
#search-form .form-control {
    width: 90%;
    border-radius: 0;
    /*border-color: black;*/
    border-width: medium;
}
#search-form .form-control:focus,
#search-form .form-control:active,
#search-form .form-control:active:focus {
    border-color: black;
    outline: 0px !important;
    -webkit-appearance:none;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}
/*#search-form .btn {*/
/*    color: #A9A9F5;*/
/*    border-color: #A9A9F5;*/
/*}*/
/*#search-form .btn:hover {*/
/*    color: white;*/
/*    border-color: #A9A9F5;*/
/*    background-color: #A9A9F5;*/
/*}*/
.top_menu {
    background-color: white;
}
.menu {
    color: black;
    font-weight: bold;
}
.menu:hover {
    text-decoration: none;
}
.intro {
    color: white;
    margin-top: 130px;
    padding-top: 160px;
    height: 400px;
    background-color: #CECEF6;
    background-image: linear-gradient(to bottom, rgba(78, 57, 81,.7) 0%, rgba(78, 57, 81,.7) 100%),url(../assets/apply.jpg);
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
}
.copyright {
    margin-top: 50px;
}
.devise_view {
    margin-top: 200px;
}
.login_field {
    width: 100%;
    height: 50px;
}
.actions .login_btn {
    font-weight: bold;
    margin-top: 20px;
    height: 125px;
    width:100px;
    color: black;
    border-radius: 0;
    border-color: silver;
    background-color: #CECEF6;
}
.actions .register_btn {
    font-weight: bold;
    margin-top: 20px;
    height: 40px;
    width: 90px;
    color: black;
    border-radius: 0;
    border-width: medium;
    border-color: silver;
    background-color: #CECEF6;
}
.register_field {
    display: flex;
    justify-content: space-between;
    width: 300px;
    margin-bottom: 5px;
}
.types {
    display: none;
}
.left_field {
    margin-right: 100px;
}
.vertical_menu {
    width: 160px;
    height: 100%;
    background-color: #2F0B3A;
    /*background-color: #CECEF6;*/
    float: left;
    padding-top: 20px;
    margin-left: 5px;
    margin-bottom: 5px;
}
.vertical_menu a {
    color: white;
    font-weight: normal;
    font-size: 1.2rem;
    text-align: center;
}
.vertical_menu a:hover {
     color: #5F04B4;
}
li.nav-item {
    margin-bottom: 20px;
}