<div class="vertical_menu">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" href="/recruit">채용공고</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/new_recruit">채용공고 등록</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">지원서 편집</a>
      </li>
    </ul>
</div>